
@import url('../styles/variables.less');

.line-minxin() {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  width: 260px;
  height: 1px;
  background: @c-border;
}

.custom-api {
  margin-top: 30px;
  margin-bottom: 80px;
  // display: flex;
  
  .tbody {
    display: flex;
    &[data-index]:not([data-index ="0"]) {
     margin-top: 100px;
    }
    .tbody-title {
      font-size: 28px;
      margin: 30px 0 30px 0;
      text-align: center;
      .tbody-title-txt {
        position: relative;
        &::before {
          .line-minxin();
          left: 0;
          margin-left: -10px;
          transform: translate(-100%, -50%);
        }
        &::after {
          .line-minxin();
          margin-right: -10px;
          right: 0;
          transform: translate(100%, -50%);
          }
        }
      }
  }
 
  .api-sticky-header {
    position: sticky;
    top: 100px;
    height: calc(100vh - 200px);
    align-self: self-start;
    // overflow-y: auto;
    text-align: center;
    min-width: 150px;
    margin-left: 25px; 
    // .boxShaow();
    border-radius: 12px;
    padding: 15px;
    .simplebar-content-wrapper {
      padding-bottom: 130px;
    }
    .title {
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 16px;
    }
    .api-sticky-header-item {
      font-size: 14px;
      cursor: pointer;
      padding: 7px 0;
      transition: all .3s;
      &:hover {
        font-size: 16px;
        color: @c-primary;
        font-weight: bold;
        @{dark-selector} & {
          color: @c-primary-dark;
        }
      }
      &.api-sticky-header-item_active {
        font-size: 16px;
        color: @c-primary;
        font-weight: bold;
        @{dark-selector} & {
          color: @c-primary-dark;
        }
      }
    }
  }
}


.api-item + .api-item {
  margin-top: 35px;
}
.api-item {
  .name {
    // color: #d56161;
    font-size: 22px;
    // font-weight: bold;
    @{dark-selector} & {
      color: @c-text-dark;
    }
  }
  .desc {
    margin-top: 15px;
    .desc-txt {
      font-weight: bold;
      margin-right: 8px;
      // font-weight: bold;
    }
    .desc-info {
      letter-spacing: 1px;
      line-height: 2;
      
    }
   
  }
  .type {
    margin-top: 15px;
    .type-txt {
      // font-weight: bold;
      margin-right: 8px;
    }
    .more-icon {
      color: @c-text-note;
      &:hover {
        opacity: .8;
      }
    }
  }
  .default {
    margin-top: 15px;
    .default-txt {
      // font-weight: bold;
      margin-right: 8px;
    }
  }
&:last-child {
  margin-bottom: 50px;
}
}
.popover-container {
  .MuiPaper-root {
    border-radius: 8px;
    background: @c-site-bg;
    @{dark-selector} & {
      color: @c-text-dark;
      background: lighten(@c-site-bg-dark, 5%);
    }
  }
  .popover-wrap {
    padding: 15px;
    width: 40vw;
    max-height: 50vh;
    // overflow: auto;
    .api-item:last-child {
      padding-bottom: 30px;
    }
  }
}