
@import url('../../../theme/styles/variables.less');
.feature-contanier {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .feature-item {
    text-align: center;
    width: 33.33333%;
    margin-top: 50px;
  }
  @media @tablet {
    .feature-item {
      width: 50%;
    }
  }
  @media @mobile {
    .feature-item {
      width: 100%;
    }
  }
}