@import (reference) '../../styles/variables.less';

.@{prefix}-footer {
  color: @c-white;
  font-size: 13px;
  line-height: 1;
  text-align: center;
  padding: @s-content-padding * 0.6 0 30px 0;
  background: lighten(@c-site-bg-dark, 7%) ;

  @{dark-selector} & {
    background: lighten(@c-site-bg-dark, 3%);
    color: @c-text-footer-dark;
  }

  @media @mobile {
    padding: @s-content-padding * 0.3 0;
    font-size: 13px;
  }

  a {
    color: @c-primary-dark;
    font-weight: bold;
    @{dark-selector} & {
      color: @c-primary-dark;
    }

    &:not(:hover) {
      text-decoration: none;
    }
  }
  &-content {
    text-align: left;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    .contact-txt {
      color: lighten(@c-primary, 30%);
    }
    a {
      color: @c-text-dark;
      font-size: 14px;
      vertical-align: middle;
      margin-right: 2px;
      font-weight: normal;
      @{dark-selector} & {
        color: @c-text-dark;
      }
    }
    & > div {
      flex: 1;
    }
  }
  .line {
    margin: 0 10px;
    height: 30px;
    width: 2px;
    background-color: @c-primary-dark;
  }
}